textarea {
  font-size: 20px
}

p#translating_status {
  display: none;
  margin-left: 4.2em;
  margin-top: -5.5em
}

button {
  margin: 1em;
  padding: .25em;
  background: #fff;
  font-weight: bold
}

p#fi {
  display: none;
}

div#wrapper {
  margin: 4em;
  padding: 1em;
  border: 1px dashed #000
}

p#desc {
  font-size:0.8em;
  color: #ccc;
  position: fixed
}

