html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px
}

textarea {
  font-size: 2em;
  width:     100%
}

button {
  margin:     1em;
  padding:    .25em;
  background: #fff;
  font-weight: bold
}

.bold { font-weight:bold }
.small { font-size:.8em }
.xtrasmall { font-size:.6em }

div#wrapper {
  margin:  2em;
  padding: 1em;
  border:  1px dashed #000
}

span#status {
  display: none;
  float:   right
}

/* Document overview */
div#overview_wrapper { margin-top:1em }
table#overview { font-size:.8em }
table#overview td.seg_text { width: 45% }
table#overview td { border-bottom: 1px solid #000 }
/* /Document overview */

p#footer {
  text-align:  right;
  font-size:   .5em;
  font-weight: bold;
  margin:      0;
  padding:     0;
  color:       #303030
}

/* Header */
div#header {
  margin-bottom: 2em;
  text-align:right
}
img#uni {}
img#cl {
  margin-bottom:20px;
  margin-left:10px;
  vertical-align:bottom
}
/* /Header */

/* Help */
div#help {
  margin-top: 2em;
  font-size:  .8em;
  width:      70%;
  color:      #ccc;
  text-align: justify
}
div#help a { color:#ccc }
div#help:hover { color: #000 }
div#help:hover a { color: #000 }
/* /Help */

